body{
  background-color:beige;
  border: 5px dotted gold;
}

h1{
  color: red;
margin-top: 30px;
 margin-left: 150px;
 font-size: 40px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

 h4{
  color:orangered;
  margin-left: 150px;
  font-size: 30px;
}

ul li{
  color:darkslategrey;
  margin-left: 100px;
  font-size: 25px;
 
  
}
h2{
  color: blueviolet;
  margin-left: 150px;
  font-size: 40px;
  margin-top: 15px;
}
span {
  margin-top: 8px;
  color:cornflowerblue;
  margin-left: 20px;
  font-size: 20px;
}

p{
  color:forestgreen ;
  font-size:25px ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 300px;
  margin-top: 50px;

}
button{
  height: 50px;
  width: 200px;
  border: 1px solid;
  border-radius: 10px;
  margin-left: 300px;
  font-size: larger;
  margin-top: 20px;
  background-color: rgb(228, 238, 238);
   color: darkslategrey;
   cursor: pointer;
}
button:hover{
  background-color:lightblue;

}